[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
langchain = "*"
langchain-text-splitters = "*"
langchain-community = "*"
langchain-openai = "*"
python-dotenv = "*"
pypdf = "*"
chromadb = "*"
langchain-chroma = "*"
langchain-core = "*"
gitpython = "*"
nltk = "*"
langchain-cohere = "*"

[dev-packages]

[requires]
python_version = "3.11"
